<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @enologist.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @enologist.age %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @enologist.nationality %>
</p>

<%= link_to 'Edit', edit_enologist_path(@enologist), class: "btn btn-primary m-1" %> |
<%= link_to 'Back', enologists_path, class: "btn btn-primary m-1" %>
