<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @rating.score %>
</p>
<p>
  <strong>rating:</strong>
  <%= @rating.wine.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @rating.enologist.name %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating), class: "btn btn-primary m-1" %> |
<%= link_to 'Back', ratings_path, class: "btn btn-primary m-1" %>
