<%= form_with(model: wine, local: true) do |form| %>
  <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

 <p>assemblies:</p>

  <% wine.assemblies.each_with_index do |assembly, index| %>
  <input type="hidden" value="<%=index + 1%>" name="wine[assemblies_attributes][<%=index%>][strain_id]" id="wine_assemblies_attributes_<=%index%>_strain_id">
  <label><%= assembly.strain.name %></label>
  <input type="number" name="wine[assemblies_attributes][<%=index%>][percentage]" id="wine_assemblies_attributes_<%=index%>_percentage">

<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
